@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دوره سایت املاک - @ViewData["Title"]</title>
    <partial name="_HeaderReferences" />
    @await RenderSectionAsync("Links", required: false)

</head>

<body>
    <div class="container">
        @await Component.InvokeAsync("HeaderComponent")

        @RenderBody()

    </div>

    <partial name="_FooterReferences" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>